<div class="main-wrapper mobile-phone-wrapper container-fluid">

  <!--Banner section-->
  <section class="banner-wrapper row"
           style="background: url(assets/images/products/mobile_phone_banner.png); background-size: cover; background-repeat: no-repeat;">
    <div class="container">
      <div class="col-md-12">
        <h2>Captions when and where you need them.</h2>
        <p>Download the FREE ClearCaptions on your mobile and have the freedom and confidence to take calls on the
          go.</p>
        <a href=""><img src="./../../../assets/images/products/app_store_btn.png" alt=""></a>
        <a href="" class="btn-right"><img src="./../../../assets/images/products/play_store_btn.png" alt=""></a>
      </div>
    </div>
  </section>

  <!--Tab section-->
  <section class="tab-wrapper row">
    <div class="tab-menu">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Overview</a>
        </li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Requirement</a>
        </li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                                   data-toggle="tab">Specifications</a></li>
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div class="overview-wrapper">
          <div class="web-portal-item-wrapper"
               style="background: url(assets/images/mobile-bg.png) no-repeat center; background-size: cover;">
            <div class="container content">
              <h2>Add Captions to Any Phone With the FREE ClearCaptions Web Service</h2>
              <p>Just like the ClearCaptions captioned phone, view instant captioning for any incoming or outgoing calls
                on
                your on your smartphone or tablet screen.</p>
              <div class="info-wrapper">
                <div class="info-item-wrapper left">
                  <div class="info-item">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  </div>
                  <div class="info-item">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  </div>
                </div>
                <div class="info-image-wrapper">
                  <div class="spacer"></div>
                  <img src="assets/images/temp/mobile.png" alt=""/>
                  <div class="spacer"></div>
                </div>
                <div class="info-item-wrapper right">
                  <div class="info-item">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  </div>
                  <div class="info-item">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <div class="row requirement-wrapper">
          <div class="container">
            <div class="col-xs-12 col-md-6">
              <h3>Requirement</h3>
              <p>ClearCaptions is only made available to individuals who have a medically recognized hearing disability
                necessitating their use of the service. To qualify for the ClearCaptions service you must have a
                medically recognized hearing
                disability that is certified by a qualified health professional.</p>

              <p class="bullet-heading"><strong>To use ClearCaptions Ensemble, you will need:</strong></p>
              <ul>
                <li
                *ngFor="let requirementListItem of requirementListItems"></li>
                <li>Hearing loss necessitating your use of the service</li>
                <li>High-speed Internet connection</li>
                <li>Landline home phone service</li>
                <li>ClearCaptions account for captions</li>
              </ul>

              <button type="button" class="btn primaryButton">Contact us for more information</button>
            </div>
            <div class="col-xs-12 col-md-6 right">

            </div>
          </div>
          <!--end of container-->
        </div>
        <!--end of row-->
      </div>
      <div role="tabpanel" class="tab-pane" id="messages">
        <div class="row specifications-wrapper">
          <div class="container">
            <div class="col-xs-12 col-md-12 specifications-cont">
              <h3>Specifications</h3>
              <p>Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Fusce dapibus,
                tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                Vestibulum id ligula porta
                feliseuismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio
                sem nec elit. Etiam porta sem malesuada magna mollis euismod.</p>
              <button type="button" class="btn primaryButton">Download brouchure</button>
            </div>

          </div>
          <!--end of container-->
        </div>
        <!--end of row-->
      </div>

    </div>
  </section>


  <!--features-->
  <section class="feature-wrapper row text-center">
    <div class="container">
      <h3>More Features</h3>

      <div class="article-wrapper row">
        <div class="col-xs-12 col-md-4">
          <article>
            <img src="./../../assets/images/phone.png" alt="">
            <h4>Free Phone &amp; Captioning</h4>
            <p>Captions are provided free-of-charge to people with hearing loss</p>
            <a href="#">For more info click here</a>
          </article>
        </div>

        <div class="col-xs-12 col-md-4">
          <article>
            <img src="./../../assets/images/installation.png" alt="">
            <h4>Free Installation</h4>
            <p>A ClearCaptions specialist will come to your home to install your phone and train you on how to use
              it.</p>
          </article>
        </div>

        <div class="col-xs-12 col-md-4">
          <article>
            <img src="./../../assets/images/ongoing_support.png" alt="">
            <h4>Free Ongoing Support</h4>
            <p>Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit.</p>
          </article>
        </div>
      </div>
      <!--end of article wrapper-->
      <button type="button" class="btn primaryButton">Sign up today</button>
    </div>
    <!--end of container-->
  </section>

  <section class="testimonials-slider-wrapper row">
    <div class="container">
      <div class="row testimonials-slider">
        <div class="slide">
          <div class="col-sm-4 col-sm-offset-2">
            <div class="item-content">
              <div class="content">
                <p>“ I now know exactly what the other party is saying. Before ClearCaptions, I couldn’t understand a
                  lot
                  of what the other party was saying, and that made conversations difficult. "</p>
                <h5>Irene Walters</h5>
                <h6>San Francisco, CA</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-4 image-wrapper">
            <img src="assets/images/temp/testi-1.png" alt=""></div>
        </div>
        <div class="slide">
          <div class="col-sm-4 col-sm-offset-2">
            <div class="item-content">
              <div class="content">
                <p>“ I now know exactly what the other party is saying. Before ClearCaptions, I couldn’t understand a
                  lot
                  of what the other party was saying, and that made conversations difficult. "</p>
                <h5>Irene Walters</h5>
                <h6>San Francisco, CA</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-4 image-wrapper">
            <img src="assets/images/temp/testi-1.png" alt=""></div>
        </div>
        <div class="slide">
          <div class="col-sm-4 col-sm-offset-2">
            <div class="item-content">
              <div class="content">
                <p>“ I now know exactly what the other party is saying. Before ClearCaptions, I couldn’t understand a
                  lot
                  of what the other party was saying, and that made conversations difficult. "</p>
                <h5>Irene Walters</h5>
                <h6>San Francisco, CA</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-4 image-wrapper">
            <img src="assets/images/temp/testi-1.png" alt=""></div>
        </div>
      </div>
    </div>
  </section>

  <section class="row talk-to-consultant-wrapper"
           style="background: url(assets/images/temp/schedule-bg-v2.jpg) no-repeat right bottom; background-size: cover;">
    <div class="container">
      <h2>Talk to a ClearCaptions Consultant</h2>
      <p>Schedule a free in-person demo with an ClearCaptions Specialist today…</p>
      <div class="row">
        <div class="col-sm-7">
          <form>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="firstName" class="sr-only">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="First Name">
              </div>
              <div class="form-group col-sm-6">
                <label for="lastName" class="sr-only">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="phoneNumber" class="sr-only">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
              </div>
              <div class="form-group col-sm-6">
                <label for="emailAddress" class="sr-only">Email Address</label>
                <input type="email" class="form-control" id="emailAddress" placeholder="Email Address">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <button type="submit">Sign me up now</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>