<footer *ngIf="option">
    <div class="container-fluid">
        <div class="row footer-wrapper">
            <div class="container">
              <div class="row">
                <div class="col-sm-3 logo-wrapper">
                  <img [attr.src]='option.acf.footer_logo' alt="" />
                  <p [innerHTML]='option.acf.consultant_title'></p>
                </div>
                <div class="col-sm-7">
                  <div class="row">
                    <div class="col-sm-4 col-xs-6">
                      <ul>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Home Phone</a></li>
                        <li><a href="#">Mobile App</a></li>
                        <li><a href="#">Web Portal</a></li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">Login</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                      <ul>
                        <li><a href="#">More Info</a></li>
                        <li><a href="#">How It Works</a></li>
                        <li><a href="#">Am I Eligible</a></li>
                        <li><a href="#">How is it Free</a></li>
                        <li><a href="#">Professionals</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Request A Demo</a></li>
                      </ul></div>
                    <div class="col-sm-4">
                      <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Service Announcements</a></li>
                      </ul></div>
                  </div>
                </div>
                <div class="col-sm-2 social-meadia">
                  <ul>
                    <li><a href="#">COnnect with us</a></li>
                    <li><a href="#"><img src="../assets/images/temp/facebook.svg" alt=""/></a></li>
                    <li><a href="#"><img src="../assets/images/temp/twitter.svg" alt=""/></a></li>
                    <li><a href="#"><img src="../assets/images/temp/linkedin.svg" alt=""/></a></li>
                    <li><a href="#"><img src="../assets/images/temp/youtube.svg" alt=""/></a></li>
                  </ul></div>
              </div>
            </div>
        </div>
    </div>
</footer>