<div class="main-wrapper home-wrapper container-fluid">
<section class="banner-wrapper row" style="background: url(assets/images/temp/home-banner.jpg) no-repeat center; background-size: cover;">
  <div class="col-sm-12 banner-content">
    <div class="content">
      <h2>Live Life on Your Own Terms</h2>
      <p>ClearCaptions provides the most advanced captioning phone that makes communication easier for people with hearing loss</p>

      <a data-fancybox href="https://www.youtube.com/watch?v=TOsGAxFcYls" class="play-btn" *ngIf="vidbanner">
      <img src="assets/images/play-btn.svg" alt="">
      </a>
    </div>
  </div>
</section>

<section class="row as-seen-slider-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-xs-4">
        <p>As Seen in</p>
      </div>
      <div class="col-sm-10 col-xs-8 as-seen-slider">
        <div>
          <div class="logo text-center"><img src="assets/images/temp/fox-business.jpg" alt=""></div>
        </div>
        <div>
          <div class="logo text-center"><img src="assets/images/temp/usa-today.jpg" alt=""></div>
        </div>
        <div>
          <div class="logo text-center"><img src="assets/images/temp/engadget.jpg" alt=""></div>
        </div>
        <div>
          <div class="logo text-center"><img src="assets/images/temp/nbc.jpg" alt=""></div>
        </div>
        <div>
          <div class="logo text-center"><img src="assets/images/temp/ted-x.jpg" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row eligibility-wrapper">
  <div class="container">
    <div class="row img-right">
      <div class="col-sm-6">
        <div class="img-content">
          <img src="assets/images/temp/ensemblephonegraphic2015.png" alt="">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="content">
          <h3>ClearCaptions is available to people with hearing loss at no cost</h3>
          <p>ClearCaptions is a Federal Communications Commission (FCC) - Certified telephone captioning provider. Our captioning service is paid through a fund established as part of the Telecommunications Relay Service in title 4 of The American
            Disabilities Act.</p>
          <p>To qualify to receive a ClearCaptions phone at no cost you must provide certification from a qualified professional of your hearing loss.</p>
          <a href="#">Am I eligible for clearcaptions</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features-wrapper row text-center" style="background: url(assets/images/temp/featuresbanner.png) no-repeat center; background-size: cover;">
  <div class="container">
    <div class="row">
      <h2 class="title">ClearCaptions has near-real time phone captioning and many other features designed for people
        with hearing loss</h2>
    </div>
    <div class="row hidden-xs">
      <div class="col-md-3">
        <div class="content">
          <div class="image-wrapper">
            <img src="assets/images/temp/wifi.svg" alt="">
          </div>
          <h3>Vivamus sagittis augue rutrum </h3>
          <p>Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content">
          <div class="image-wrapper">
            <img src="assets/images/temp/click-hand.svg" alt="">
          </div>
          <h3>Parturient Pensque Vulputate</h3>
          <p>Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content">
          <div class="image-wrapper">
            <img src="assets/images/temp/time.svg" alt="">
          </div>
          <h3>Tristique Vulputate Ornare</h3>
          <p>Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content">
          <div class="image-wrapper">
            <img src="assets/images/temp/delivery-man.svg" alt="">
          </div>
          <h3>Free Installation & Ongoing Support</h3>
          <p>Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
        </div>
      </div>
    </div>
    <div class="row features-mobile-slider-wrapper visible-xs">
      <div class="features-mobile-slider">
        <div class="slide">
          <div class="content">
            <div class="image-wrapper">
              <img src="assets/images/temp/wifi.svg" alt="">
            </div>
            <h3>Vivamus sagittis augue rutrum </h3>
            <p>Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <div class="image-wrapper">
              <img src="assets/images/temp/wifi.svg" alt="">
            </div>
            <h3>Vivamus sagittis augue rutrum </h3>
            <p>Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <div class="image-wrapper">
              <img src="assets/images/temp/wifi.svg" alt="">
            </div>
            <h3>Vivamus sagittis augue rutrum </h3>
            <p>Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <div class="image-wrapper">
              <img src="assets/images/temp/wifi.svg" alt="">
            </div>
            <h3>Vivamus sagittis augue rutrum </h3>
            <p>Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <a href="#" class="learn-btn">Learn more about clearcaptions</a>
    </div>
  </div>

</section>

<section class="row services-wrapper">
  <div class="container">
    <div class="row">
      <h2 class="title">ClearCaptions captioning service is available on a variety of platforms, including computers, mobile devices and home phones</h2>
      <div class="col-sm-4">
        <a href="#" class="content">
          <h3>ClearCaptions for<br>your home</h3>
          <p>Ensemble works like any other home phone except it displays the text of conversations in near real-time on a large color touchscreen</p>
          <p class="link">Learn More</p>
          <div class="img-wrapper">
            <img src="assets/images/temp/phone.jpg" alt="">
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#" class="content">
          <h3>ClearCaptions<br>Mobile App</h3>
          <p>Our free mobile app adds caller captioning to your smartphone or tablet, giving you the confidence to take calls from anywhere and at anytime</p>
          <p class="link">Learn More</p>
          <div class="img-wrapper">
            <img src="assets/images/temp/mobile.jpg" alt="">
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#" class="content">
          <h3>ClearCaptions<br>Web Service</h3>
          <p>Make calls over the internet with ClearCaptions’ free web service. Just login via our website, place a call and captions display on your computer’s monitor</p>
          <p class="link">Learn More</p>
          <div class="img-wrapper">
            <img src="assets/images/temp/web.jpg" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="row stay-connected-slider-wrapper">
  <div class="container">
    <div class="row">
      <h2 class="title">Stay connected with your loved ones and maintain your independence at home and at work</h2>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="stay-connected-slider hidden-xs">
          <div class="item-slide">
            <div class="content-wrapper">
              <div class="left-wrapper">
                <div class="item-content">
                  <div class="content">
                    <p>“ I now know exactly what the other party is saying. Before ClearCaptions, I couldn’t understand a lot of what the other party was saying, and that made conversations difficult. "</p>
                    <h5>Irene Walters</h5>
                    <h6>San Francisco, CA</h6>
                  </div>
                  <a data-fancybox href="https://www.youtube.com/watch?v=TOsGAxFcYls" class="vid-btn">Watch the
                    story</a>
                  <img src="assets/images/temp/testi-1.png" alt="">
                </div>
              </div>
              <div class="right-wrapper">

                <div class="item-content">
                  <div class="content">
                    <p>“ I love this phone. It’s like gaining part of my independence. "</p>
                    <h5>Irene Walters</h5>
                    <h6>San Francisco, CA</h6>
                  </div>
                  <img src="assets/images/temp/testi-2.png" alt="">
                </div>

                <div class="item-content">
                  <div class="content">
                    <p>“ This technology is amazing! I can actually have a conversation with my grand kids again! “</p>
                    <h5>Irene Walters</h5>
                    <h6>San Francisco, CA</h6>
                  </div>
                  <img src="assets/images/temp/testi-3.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="item-slide">
            <div class="content-wrapper">
              <div class="left-wrapper">
                <div class="item-content">
                  <div class="content">
                    <p>“ I now know exactly what the other party is saying. Before ClearCaptions, I couldn’t understand a lot of what the other party was saying, and that made conversations difficult. "</p>
                    <h5>Irene Walters</h5>
                    <h6>San Francisco, CA</h6>
                  </div>
                  <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="vid-btn">Watch the
                    story</a>
                  <img src="assets/images/temp/testi-1.png" alt="">
                </div>
              </div>
              <div class="right-wrapper">

                <div class="item-content">
                  <div class="content">
                    <p>“ I love this phone. It’s like gaining part of my independence. "</p>
                    <h5>Irene Walters</h5>
                    <h6>San Francisco, CA</h6>
                  </div>
                  <img src="assets/images/temp/testi-2.png" alt="">
                </div>

                <div class="item-content">
                  <div class="content">
                    <p>“ This technology is amazing! I can actually have a conversation with my grand kids again! “</p>
                    <h5>Irene Walters</h5>
                    <h6>San Francisco, CA</h6>
                  </div>
                  <img src="assets/images/temp/testi-3.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="stay-connected-slider-mobile visible-xs">
          <div class="item-slide">
            <div class="item-content">
              <div class="content">
                <p>“ I now know exactly what the other party is saying. Before ClearCaptions, I couldn’t understand
                  a
                  lot of what the other party was saying, and that made conversations difficult. "</p>
                <h5>Irene Walters</h5>
                <h6>San Francisco, CA</h6>
              </div>
              <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="vid-btn">Watch the
                story</a>
              <img src="assets/images/temp/testi-1.png" alt="">
            </div>
          </div>
          <div class="item-slide">
            <div class="item-content">
              <div class="content">
                <p>“ I now know exactly what the other party is saying. Before ClearCaptions, I couldn’t understand
                  a
                  lot of what the other party was saying, and that made conversations difficult. "</p>
                <h5>Irene Walters</h5>
                <h6>San Francisco, CA</h6>
              </div>
              <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="vid-btn">Watch the
                story</a>
              <img src="assets/images/temp/testi-1.png" alt="">
            </div>
          </div>
          <div class="item-slide">
            <div class="item-content">
              <div class="content">
                <p>“ I now know exactly what the other party is saying. Before ClearCaptions, I couldn’t understand
                  a
                  lot of what the other party was saying, and that made conversations difficult. "</p>
                <h5>Irene Walters</h5>
                <h6>San Francisco, CA</h6>
              </div>
              <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="vid-btn">Watch the
                story</a>
              <img src="assets/images/temp/testi-1.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row talk-to-consultant-wrapper"
         style="background: url(assets/images/temp/schedule-bg-v2.jpg) no-repeat right bottom; background-size: cover;">
  <div class="container">
    <h2>Talk to a ClearCaptions Consultant</h2>
    <p>Schedule a free in-person demo with an ClearCaptions Specialist today…</p>
    <div class="row">
      <div class="col-sm-7">
        <form>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="firstName" class="sr-only">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="First Name">
            </div>
            <div class="form-group col-sm-6">
              <label for="lastName" class="sr-only">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="phoneNumber" class="sr-only">Phone Number</label>
              <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
            </div>
            <div class="form-group col-sm-6">
              <label for="emailAddress" class="sr-only">Email Address</label>
              <input type="email" class="form-control" id="emailAddress" placeholder="Email Address">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <button type="submit">Sign me up now</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="news-items-wrapper">
  <div class="container">
    <h2>Latest News and Informations for ClearCaptions</h2>
    <div class="row">
      <div class="news-items-slider">
        <div class="slide">
          <a href="#">
            <div class="img-wrapper"
                 style="background: url(assets/images/temp/news-items-1.jpg) no-repeat center; background-size: cover;">
            </div>
            <div class="content">
              Clarity Launches Sempre™; New Home Phone Offers Crystal Clear Amplification
            </div>
            <div class="date">6th September 2016</div>
          </a>
        </div>
        <div class="slide">
          <a href="#">
            <div class="img-wrapper"
                 style="background: url(assets/images/temp/news-items-2.jpg) no-repeat center; background-size: cover;">
            </div>
            <div class="content">
              Clarity Launches Sempre™; New Home Phone Offers Crystal Clear Amplification
            </div>
            <div class="date">6th September 2016</div>
          </a>
        </div>
        <div class="slide">
          <a href="#">
            <div class="img-wrapper"
                 style="background: url(assets/images/temp/news-items-3.jpg) no-repeat center; background-size: cover;">
            </div>
            <div class="content">
              Clarity Launches Sempre™; New Home Phone Offers Crystal Clear Amplification
            </div>
            <div class="date">6th September 2016</div>
          </a>
        </div>
        <div class="slide">
          <a href="#">
            <div class="img-wrapper"
                 style="background: url(assets/images/temp/news-items-1.jpg) no-repeat center; background-size: cover;">
            </div>
            <div class="content">
              Clarity Launches Sempre™; New Home Phone Offers Crystal Clear Amplification
            </div>
            <div class="date">6th September 2016</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

</div>